ServerSignature Off
AddDefaultCharset utf-8
<IfModule mod_headers.c>
 <FilesMatch ".(js|css|xml|gz|html)$">
 Header append Vary: Accept-Encoding
 </FilesMatch>
 Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS
 Header set X-XSS-Protection "1; mode=block"
 Header always append X-Frame-Options SAMEORIGIN
 Header set X-Content-Type-Options nosniff
</IfModule>
Options -Indexes
<Files ~ "^.(htaccess|htpasswd)$">
deny from all
</Files>
ErrorDocument 404 https://neo.monster/404.html
order deny,allow
<Files ~ "^.(htaccess|htpasswd)$">
deny from all
</Files>
Redirect temp neo.monster/github neo.monster/github.html
Redirect temp neo.monster/gitlab neo.monster/gitlab.html
Redirect temp https://neo.monster/music https://neo.monster/music.html
Redirect temp https://neo.monster/blog https://neo.monster/blog.html
order deny,allow
